<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    
</head>
<body>

<header>
    <div class="encab">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Your Logo">
            </div>

            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="payment-info">
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
    </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    <nav class="nav_desp">
        <ul>
            <li class="right"><a href="#"><i class="fas fa-home"></i> Ofertas</a></li>
            <li class="right"><a href="#"><i class="fas fa-store"></i> Tiendas Oficiales</a></li>
            <li class="right"><a href="#"><i class="fas fa-dollar-sign"></i> Vender</a></li>
            <li><a href="#"><i class="fas fa-question-circle"></i> Ayuda</a></li>
            <li><a href="/register.html"><i class="fas fa-user-plus"></i> Creá tu cuenta</a></li>
            <li><a href="/login.html"><i class="fas fa-sign-in-alt"></i> Ingresá</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i> Mis compras</a></li>
        </ul>
    </nav>
    <section class="banner">
        
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    
    </section>

    <main>
        <h2>Basado en tu última visita</h2>
        <section class="last-visit">
            

            <div class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="details">
                    <p class="iconDes"> <i class="fas fa-truck"></i></p>
                        <p>$6,670
                        <span class="descuento">20% off</span> 
                        </p>
                    <br>
                    <p>Cafetera Moulinex</p>
                </div>
            </div>
            

            <div class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="details">
                        <p class="iconDes"><i class="fas fa-truck"></i></p>
                        <p>$230,000
                            <span class="descuento">20% off</span> 
                        </p>
                        <br>
                        <p>MacBook Pro 2019</p>
                    </div>
            </div>

            <div class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <div class="details">
                        <p class="iconDes"><i class="fas fa-truck"></i></p>
                        <p>$70,500
                            <span class="descuento">10% off</span> 
                        </p>
                        <br>
                        <p>Samsung Galaxy S10</p>
                    </div>
            </div>

            <div class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="Smart ">
                    <div class="details">    
                        <p class="iconDes"><i class="fas fa-truck"></i></p>
                        <p>$23,200
                            <span class="descuento">5% off</span> 
                        </p>
                        <br>
                        <p>SmartTv Samsung 43"</p>
                    </div>
            </div>

        </section>
    
        <!-- Sección de Ofertas -->
        <section class="special-offers">
            <h2>Ofertas</h2>
            <div class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="details">
                        <p class="iconDes"><i class="fas fa-truck"></i></p>
                            <p>$6,770
                                <span class="descuento">40% off</span> 
                            </p>
                            <br>
                        <p>Cafetera Moulinex</p>
                    </div>
            </div>

            <div class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="details">
                    <p class="iconDes"><i class="fas fa-truck"></i></p>
                        <p>$230,000
                            <span class="descuento">20% off</span> 
                        </p>
                    <p>MacBook Pro 2019</p>
                </div>
            </div>

            <div class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <div class="details">    
                        <p class="iconDes"><i class="fas fa-truck"></i></p>
                        <p>$70,500
                            <span class="descuento">10% off</span> 
                        </p>
                        <br>
                        <p>Samsung Galaxy S10</p>
                    </div>
            </div>

                        
        </section>
        <footer>
           
            <p><i class="fas fa-credit-card"></i> Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          
            <p><i class="fas fa-truck"></i> Envío gratis desde $2,500</p>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
          
            <p><i class="fas fa-shield-alt"></i> Seguridad, de principio a fin</p>
            <p></i> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
          
            <p></i> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
          </footer>
          
        
    </main>
</header>


</body>
</html>
